.fieldfile {
  font-family: PingFangSC-Medium;
  .am-navbar-light {
    background: #dec7a9;
    padding-top: 0.05rem;
    padding-bottom: 0.046rem;
    span {
      font-size: 0.05;
      line-height: 0.04;
      color: #fff;
      letter-spacing: 0;
    }
  }
  .am-steps {
    background: #dec7a9;
    padding-top: 0.03rem;
    padding-bottom: 0.02rem;
    .icon_step {
      width: 0.06rem;
      height: 0.06rem;
      border-radius: 50%;
      background: #ddd;
      font-size: 0.03rem;
      line-height: 0.06rem;
      color: #fff;
    }
    .current {
      background: #fff;
      color: #d1c7a9;
    }
    .am-steps-item-finish .am-steps-item-tail:after {
      background: #fff;
    }
  }

  // 内容
  .container {
    margin-bottom: 0.15rem;
    .title {
      text-align: center;
      margin-top: 0.1rem;
      margin-bottom: 0.1rem;
      div {
        height: 0.05rem;
        font-size: 0.05rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.05rem;
        letter-spacing: 0rem;
        color: #34373b;
        padding-bottom:0.01rem;
      }
      span{
        font-size: 0.03rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.06rem;
        letter-spacing: 0rem;
        color: #999999;
      }
    }
    .littletitle {
      width:0.74rem;
      margin:0 auto;
      font-size:0.04rem;
      color:#666;
      height:0.08rem;
      div{
        float: left;
      }
      .youselectitem{
        color:#fff;
        font-size: 0.03rem;
        padding:0.02rem;
        background: #b4b4b4;
        float: left;
        margin-left: 0.01rem;

      }
      .testcontent{
        margin-top:0.07rem;
        color:#bababa;
        font-size:0.035rem;
        line-height: 0.048rem;
      }
    }


  }
  // 下面的button
  .bottomButton{
    position: fixed;
    bottom: 0;
    width:100%;
    transition: all 0.3s;
    z-index: 10;
    font-size:0.045rem;
    font-weight: normal;
    font-stretch: normal;
    .am-button{
      border-radius: 0
    }
  }
  .nofull{
    .am-button{
      width:0.932rem;
      margin:0 auto;
    }
  }
  .disabled{
    bottom: -0.15rem;
    transition: all 0.4s;
  }
}

