@import "../../node_modules/antd-mobile/dist/antd-mobile.min.css";
// @import "../../node_modules/antd/dist/antd.min.css";
// @import 'base';
// 引入阿里图标
@font-face {
  font-family: "iconfont"; /* project id 752856 */
  src: url("./alifont/iconfont.eot");
  src: url("./alifont/iconfont.eot?#iefix") format("embedded-opentype"),
    url("./alifont/iconfont.woff") format("woff"),
    url("./alifont/iconfont.ttf") format("truetype"),
    url("./alifont/iconfont.svg#iconfont") format("svg");
}
// @font-face {
//   font-family: 'iconfont';  /* project id 752856 */
//   src: url('//at.alicdn.com/t/font_752856_repz46l5fcj.eot');
//   src: url('//at.alicdn.com/t/font_752856_repz46l5fcj.eot?#iefix') format('embedded-opentype'),
//   url('//at.alicdn.com/t/font_752856_repz46l5fcj.woff') format('woff'),
//   url('//at.alicdn.com/t/font_752856_repz46l5fcj.ttf') format('truetype'),
//   url('//at.alicdn.com/t/font_752856_repz46l5fcj.svg#iconfont') format('svg');
// }
// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want

//reset
html {
  .am-button.am-button-active {
    background-color: #e0301e;
    opacity: 0.6;
  }
  .am-modal-button-group-h .am-modal-button {
    font-size: 0.037rem;
    font-family: PingFangSC-Medium;
  }
  .am-modal-button-group-h .am-modal-button:last-child {
    background: #e0301e;
    color: #fff;
  }
  .am-navbar-left {
    padding-left: 5px;
    padding-right: 11px;
  }
  .am-modal-transparent {
    .am-modal-content {
      border-radius: 0;
      font-size: 0.04rem;
      line-height: 0.04rem;
      color: #333;
      .am-modal-title {
        text-align: center;
        font-family: PingFangSC-Medium;
        font-size: 0.04rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.059rem;
        letter-spacing: 0rem;
        color: #333333;
      }
      .am-modal-body {
        font-family: PingFangSC-Medium;
        font-size: 0.035rem;
        font-weight: normal;
        font-stretch: normal;
        line-height: 0.059rem;
        letter-spacing: 0rem;
        color: #999999;
      }
      .am-modal-footer {
        .am-modal-button-group-v {
          .am-modal-button {
            font-size: 0.04rem;
          }
        }
      }
    }
  }
}
